

.container
{
    padding:20px;
}

h1, h3
{
  border:solid black thin;
  background-color:#40434e;
  color:#fffffa;
  padding:5px 20px 20px 20px;
}


input[type=text]{
  background-color:#edf2f4;
}

input[type=submit],table th
{
  background-color:#40434e;
  color:#fffffa;
}

td{
  background-color:#603d43;
  color: #fffffa;
}


.btnLink
{
  padding:10px;
  background-color: #40434e;
  color: #fffffa;
}